div(ng-include='"components/shell/shell.html"')

md-grid-list.things-list(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='5', md-row-height-gt-md='1:1', md-row-height='4:3', md-gutter='8px', md-gutter-gt-sm='4px')
  md-grid-tile(ng-repeat='thing in awesomeThings', ng-class='getColor($index)', md-rowspan='{{getSpan($index)}}', md-colspan='{{getSpan($index)}}', md-colspan-sm='1')
    <% if(filters.socketio) { %>
    md-button.md-icon-button.delete-btn(ng-click='deleteThing(thing)', aria-label='Remove item')
      md-icon(style='fill: #fff', md-svg-icon='action:delete')
    <% } %>
    md-icon.avatar-icon(md-svg-icon='avatar:svg-{{ ($index + 1) % 11 }}')
    md-grid-tile-footer
      h3 {{thing.name}}
